spring.http.multipart.max-file-size=100MB
spring.http.multipart.max-request-size=100MB
security.user.name={{ classification_service_username }}
security.user.password={{ classification_service_password }}
